<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_计算属性实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <link rel="icon" type="image/x-icon" href="../source/logo.png">
</head>

<body>
    <!-- 
        computed和watch之间的区别：
            1.computed能完成的功能，watch都可以完成。
            2.watch能完成的功能，computed不一定能完成，例如：watch可以进行异步操作。
        两个重要的小原则：
            1.所被Vue管理的函数，最好写成普通函数，这样this的指向才是vm或组件实例对象。
            2.所有不被Vue所管理的函数（定时器的回调函数、ajax的回调函数等、Promise的回调函数），
            最好写成箭头函数，这样this的指向才是vm或组件实例对象。
	 -->
    <div id="root">
        <ul>
            <li>
                <label>姓：</label> <input type="text" v-model="firstName">
            </li>
            <li>
                <label>名：</label> <input type="text" v-model="lastName">
            </li>
            <li>
                全名：<span>{{fullName}}</span>
            </li>
        </ul>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false

    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三',
            fullName: '张-三'
        },
        watch: {
            firstName(val) {
                this.fullName = val + '-' + this.lastName
            },
            lastName(val) {
                this.fullName = this.firstName + '-' + val
            }
        }
    })
</script>

</html>