/* 整个注册盒子 */

.box {
    display: flex;
    position: absolute;
    width: 880px;
    height: 500px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 20px 80px 0px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--seccolor);
}


/* 左侧显示部分 */

.box-content.bg {
    background-image: url('../img/Christmas_Trees.png');
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    width: 590px;
    transition: .3s ease-in-out;
}

.box-content .welcome {
    position: absolute;
    bottom: 20px;
    left: 130px;
    color: var(--thicolor);
    font-size: 25px;
}


/* 右侧登录部分 */

#loginbox-right {
    background-color: var(--seccolor);
    width: 240px;
    padding: 100px 25px;
}

#loginbox-right .title {
    color: var(--maincolor);
}

#loginbox-right .inputbox {
    display: flex;
    margin: 10px 0;
}

#loginbox-right input {
    outline-style: none;
    border: 0;
    padding: 8px 10px;
    border: 2px solid transparent;
    border-bottom-color: var(--thicolor);
    background-color: transparent;
    height: 18px;
    color: var(--maincolor);
    transition: .2s ease-in-out;
    margin-left: 8px;
    width: 178px;
}

#loginbox-right input:hover {
    border-bottom-color: var(--maincolor);
}

#loginbox-right input:focus {
    border-color: var(--maincolor) !important;
    border-radius: 5px;
}

.operate-box {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.operate-box .link {
    color: var(--maincolor);
    font-size: 12px;
    padding: 6px 0;
    text-decoration: none;
}

.box .btn {
    background-color: var(--thicolor);
    color: var(--maincolor);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    float: right;
    outline: none;
    padding: 6px 15px;
    transition: all 0.2s ease-in;
}

.box .btn:hover {
    background-color: var(--maincolor);
    color: white;
    cursor: pointer;
}

.box .btn:active {
    box-shadow: 0 5px 10px #00000048;
}

.text {
    text-align: center;
    color: var(--maincolor);
}

@font-face {
    font-family: "iconfont";
    /* Project id  */
    src: url('../font/iconfont.ttf?t=1640402625139') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 22px;
    color: var(--maincolor);
    margin: 8px 5px;
}

.icon-user:before {
    content: "\e68a";
}

.icon-key:before {
    content: "\e6db";
}