<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>检测数据改变原理_数组</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <link rel="icon" type="image/x-icon" href="../source/logo.png">
</head>

<body>
    <!--
        没有笔记~
     -->
    <div id="root">
        <h1>学生信息</h1>
        <h2>姓名: {{name}}</h2>
        <h2>年龄: 真实 {{age.rAge}}, 对外 {{age.sAge}}</h2>
        <h2>爱好</h2>
        <ul>
            <li v-for="(h, index) in hobby" :key="index">
                {{h}}
            </li>
        </ul>
        <h2>朋友们</h2>
        <ul>
            <li v-for="(f, index) in friends" :key="index">
                {{f.name}} -- {{f.age}}
            </li>
        </ul>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false

    const vm = new Vue({
        el: '#root',
        data: {
            name: 'tom',
            age: { rAge: 40, sAge: 29 },
            hobby: ['吃饭', '睡觉', '打豆豆'],
            friends: [
                { name: 'jerry', age: 35 },
                { name: 'tony', age: 36 }
            ]
        }
    })
</script>

</html>