<!DOCTYPE html>
<html lang="cn">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>姓名案例_methods实现</title>
    <script type="text/javascript" src="../js/vue.js"></script>
    <link rel="icon" type="image/x-icon" href="../source/logo.png">
</head>

<body>
    <!--
        没有笔记~
     -->
    <div id="root">
        <ul>
            <li>
                <label>姓： </label> <input type="text" v-model="firstName">
            </li>
            <li>
                <label>名： </label> <input type="text" v-model="lastName">
            </li>
            <li>
                全名： <span>{{fullName()}}</span>
            </li>
        </ul>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip = false

    const vm = new Vue({
        el: '#root',
        data: {
            firstName: '张',
            lastName: '三'
        },
        methods: {
            fullName() {
                return this.firstName + '-' + this.lastName
            }
        }
    })
</script>

</html>